<% provide(:title, 'Edit account') %>
<h1>Edit Account</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag("/edituser", :method => "post") do %>
		<div class="row">
			<div class="col-lg-8">
				<label for="tName">Username:</label>
				<input name="username" type="text" class="form-control" id="username" placeholder="Enter username Name" value="<%= @user_session.name %>">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-8">
				<label for="tName">Email:</label>
				<input name="email" type="text" class="form-control" id="email" placeholder="Enter email" value="<%= @user_session.email %>">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-8">
				<label for="tName">Password:</label>
				<input name="password" type="text" class="form-control" id="password" placeholder="Enter password">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-8">
				<label for="tName">Confirm Password:</label>
				<input name="password_confirmation" type="text" class="form-control" id="password_confirmation" placeholder="Enter confirmation password">
			</div>
		</div>
		<br>
		
	<input value="Sign up" type="submit" class="btn btn-primary">
    <% end %>
	
	<% if @user1!=nil %>
		<% if @user1.errors.any? %>
			<% @user1.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		<% end %>
	<% end %>	
  </div>
</div>
